<div class="container mt-4">
    <div class="row">
        <div class="row-md-8">
            <h2>Detail Contact</h2>
            <% if (!contact) { %>
                <div class="alert alert-danger mt-4" role="alert">
                    <span class="fw-bold">Contact data not found!</span><br> 
                    Click <a href="/contacts" class="alert-link">Here</a> to return to the contacts page.
                </div>
            <% } else { %>
            <div class="card mt-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-3"><%= contact.name %></h5>
                    <h6 class="card-subtitle mb-1 text-body-secondary">Phone Number : <%= contact.phoneNumber %></h6>
                    <p class="card-text">Email : <%= contact.email %></p>
                    <a href="/edit-contact?name=<%= contact.name %>" class="btn btn-dark rounded card-link">Edit</a>
                    <form action="/contact?name=<%= contact.name %>&_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" onclick="return confirm('Delete this contact?')" class="btn btn-danger rounded card-link">Delete</button>
                    </form>
                    <a href="/contacts" class="btn btn-secondary rounded card-link">Back</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>